/* Navigation and Header */

.header {
  background: url("../images/header.jpg") 50% 0 repeat fixed;
  min-height: 885px;
  height: 885px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  &::before {
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, $color-secondary, $color-tertiary) repeat scroll 0 0;
    content: "";
    position: absolute;
    min-height: 885px;
    height: 885px;
    top: 0;
    width: 100%;
    overflow: hidden;
  }
}


.header-text {
  position: relative;
  padding: 100px 0px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  h1 {
    color: $white;
    font-family: $font-stack-secondary;
    font-size: 70px !important;
    letter-spacing: 1px;
    text-align: center;
    font-weight: $font-weight-600;
  }
  h2 {
    color: $white;
    font-family: $font-stack-secondary;
    font-size: 22px;
    margin: 30px auto 30px;
    width: 70%;
    text-align: center;
    font-weight: $font-weight-400;
  }
}


.nav li a {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-weight: $font-weight-500;
}

.welcome h2 {
  color: $white;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 25px;
  padding-left: 50px;
  text-transform: uppercase;
  position: relative;
}

.welcome p {
  padding: 0 0 0 50px;
}

.welcome i {
  color: $white;
  font-size: 30px;
  left: 0px;
  position: absolute;
}

.navbar-brand {
  height: 63px;
  padding: 9px 15px;
}

/* Sticky menu after moving down */

.sticky {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, $color-secondary, $color-tertiary) repeat scroll 0 0 !important;
  position: fixed;
}

/* overwriting bootstrap elements */

.navbar-default .navbar-nav > li > a {
  color: $white;
  padding-bottom: 25px;
  padding-top: 25px;
  text-transform: uppercase;
  font-size: 16px;
  @include respond-to($destop) {
    font-size: 10px;
  }
  @include respond-to($phone) {
    font-size: 10px;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $white !important;
}

.navbar-toggle .navbar-nav .open {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, $color-secondary, $color-tertiary) repeat scroll 0 0 !important;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: $white;
}

.navbar-default {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: $font-color;
  font-weight: $font-weight-500;
  transition: color 1s;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
  transition: color 1s;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #ddd;
}

.dropdown-menu {
  animation: 0.3s ease-out;
  border: medium none;
  border-radius: 0 !important;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 4px;
}

.dropdown-menu > li > a {
  padding: 10px 20px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: $white;
  text-decoration: none;
}

.navbar-default .navbar-toggle {
  border: medium none;
  margin-top: 18px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.navbar-collapse {
  border-top: medium none;
}

.demo a {
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px / 1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  a:hover {
    opacity: 0.5;
  }
}

#mause-scroll a {
  padding-top: 0px;
  span {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
    &::before {
      position: absolute;
      top: 10px;
      left: 50%;
      content: "";
      width: 6px;
      height: 6px;
      margin-left: -3px;
      background-color: #fff;
      border-radius: 100%;
      -webkit-animation: sdb10 2s infinite;
      animation: sdb10 2s infinite;
      box-sizing: border-box;
    }
  }
}


@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* overwriting bootstrap elements */
.bg-faded {
  background-color: rgba(255, 255, 255, 0);
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
